<div class="row">
  <h2>Your Doctor Who Fandom Page</h2>
</div>
<div class="row col-sm-offset-1">
  <h3>Fandom hot links!</h3>
  <p>
    <ul class="nav nav-list">
      <li class="active"><a href="/merch">Merchandise</a>
    </ul>
  </p>
</div>
<div class="row col-sm-offset-1">
<h3>Who is who?</h3>
<p>Doctor Who is a UK science fiction television show that first aired on BBC One in 1963.
The central character is an alien adventurer known as The Doctor who looks human but is actually a "Time Lord". He travels through time and space in his ship, the TARDIS (an acronym for Time And Relative Dimension In Space), which appears in the form of a blue police box from the 1950s. Due to its transdimensional nature, it is much larger on the inside.
Each episode finds the Doctor visiting another planet, or a moment in Earth history.
The Doctor often travels with one or more companions or assistants, the majority of whom are human women. The Doctor "regenerates" into a new body rather than dying, allowing a variety of actors to play the role. Fans often refer to each different incarnation numerically; for example, the incarnation of the Doctor portrayed by Christopher Eccleston would be referred to as "The Ninth Doctor" or simply "Nine". (See the Naming the Doctor section of the Doctor Who Fandom Glossary page.)</p>
</div>
<div class="row col-sm-offset-1">
  <h3>Class Who vs. New Who</h3>
  <p><b>Classic Who</b><br>
Doctor Who originally ran for 26 seasons on the BBC from 1963 to 1989 and featured seven different Doctors played by seven different actors. The series was structured as multiple-episode story arcs of varying length within each season or series. The series was also broadcast in many other countries, appearing on PBS in the US.
The BBC lost or destroyed many of the earliest episodes, mainly by reusing the tape they were stored on for other shows. The fannish practice of recording the audio of episodes as they aired resulted in the preservation of at least the sound tracks for all the missing episodes.[1] Some episodes were later recovered from television broadcasters in other countries, with the most recent discovery in 2013.[2]
For a recent series of episode reaction posts, see copperbadge's three things about classic who from 2010.</p>
<p><b>New Who</b><br>In 2005, the BBC revived the series with Russell T. Davies as head writer and executive producer. The new series, filmed in Wales and made by BBC Wales, continued from the canon of the original series without substantial changes. The format of the show was altered from the multi-episode arcs to the more common television standard of mostly stand-alone episodes. Season running plot arcs—such as the one that launched the idea of Torchwood—are woven into the plot of episodes throughout the series. Steven Moffatt was a contributing writer from the beginning of Davies' tenure, and the BBC announced in May 2008 that Moffat would be taking over from Russell T Davies as head writer and executive producer for the revived show's fifth series, to be broadcast in 2010. (Moffatt and collaborator Mark Gatiss are also responsible for the BBC Sherlock, which is also a fan favorite, though in both cases, fans sometimes take issue with the showrunners' choices.)
New Who has featured three Doctors and three actors as well as six main companions (almost all women):
<p>Rose Tyler - an ordinary girl who falls in love with the Doctor. Played by <%= @rose_actress %></p>
<p>Martha Jones - a bright medical student who develops unrequited feelings for the Doctor. Played by <%= @martha_actress %></p></p>
<p>Donna Noble - a feisty temp from Chiswick, the Doctor's "mate" and pal. Played by <%= @donna_actress %></p></p>
<p>Amy Pond - who first met the Doctor as a small child and obsessed over him</p>
<p>Rory Williams - the young man very much in love with Amy Pond</p>
<p>Clara Oswald - an impossible girl</p>
The Doctor has had several (potential) love interests in the New series, including Madame de Pompadour and River Song.
A few male companions have been along for shorter rides, including Captain Jack Harkness, Mickey Smith, and Wilfred Mott.
Both Classic Who and the new series are broadcast pre-watershed (before 9 pm) which means they are intended as family programming, suitable for children.[3]</p>
</div>
