<div class="row">
  <h2>Your Doctor Who Merchandise</h2>
</div>
<div class="row col-sm-offset-1">
  <h3>Fandom hot links!</h3>
  <p>
    <ul class="nav nav-list">
      <li class="active"><a href="/">Main Page</a>
    </ul>
  </p>
</div>

<div class="row col-sm-offset-1">
  <h3>What's hot?</h3>
  <p>
    <ul class="nav nav-list">
      <li class="active"><a  href="http://www.ebay.co.uk/itm/DOCTOR-WHO-BRISTOL-VR-BUS-AS-USED-IN-PLANET-OF-THE-DEAD-GENUINE-FILM-PROP-/331453556782?pt=UK_Collectables_SciFi_fantasyCollectables_EH&hash=item4d2c2be82e&clk_rvr_id=771303713986&rmvSB=true">The actual double decker bus used in filming Planet of the Dead</a></li>
      <li><a href="http://www.amazon.com/Doctor-Who-Autographed-Darvill-Kingston/dp/B00BQOY58W">Doctor Who Autographed 11x14 Cast Photo Signed By Matt Smith, Karen Gillan, Arthur Darvill & Alex Kingston</a></li>
    </ul>
  </p>
</div>
